/* ....................................................... */
/* Stylesheet for Say In Pixels                            */
/* Author: Joseph	                                   */
/* id = style for a unique element in a page; defined as # */
/* class = style for group of elements; defined as .       */
/* Derived from pixelpost and modifed as needed            */
/* ....................................................... */


/* .............................. */
/* Basics */
/* .............................. */

body {
	background-color:#666;
	font-size:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	letter-spacing:0.5px;
	color:#eee;
	padding:0px;
	margin:0px;
	margin-bottom:20px;
	text-align:center;
	}

html, body {
        min-height:100.1%;
	}

/* .............................. */
/* Links */
/* .............................. */

a {
	color:#eee;
	text-decoration:none;
	}

a:hover {
	text-decoration:underline;
	}

/* .............................. */
/* Headings */
/* .............................. */

h1 {
        float:left;
	clear:left;
	font-weight:bold;
	font-size:11px;
	letter-spacing:2px;
	color:#eee;
	margin:0px;
	margin-left:5px;
	padding:0px;
	}
	
h1 a {
        text-decoration:none;
	color:#eee;
	}

h1 a:hover {
        text-decoration:none;
	}

.title {
	font-weight:bold;
	font-size:11px;
	letter-spacing:1px;
	color:#eee;
	margin:0px;
	margin-bottom:5px;
	margin-left:15px;
	padding:0px;
	}

h3 {
	font-weight:bold;
	font-size:11px;
	letter-spacing:1px;
	color:#ddd;
	text-align:center;
	}

/* .............................. */
/* Navigation and menu */
/* .............................. */

#navigation {
        background:#333333;
        border-bottom:1px solid #aaa;
        padding:5px;
        height:15px;
        margin-bottom:20px;
	}
	
#photo {        
        padding:5px;
        border:1px solid #515151;
	}

#photo-quick-info {
	text-align:center;
	width:70%;
	margin:0px auto;
	margin-bottom:25px;
	line-height:16px;
	color:#eee;
	}
	
#photo-desc {
        background:#515151;
        border:1px solid #aaa;
        padding:20px;
	width:70%;
	vertical-align:top;
        text-align:left;
        margin: auto;
	}
        
/* .............................. */
/* Footer */
/* .............................. */

#footer {
   text-align:center;
   margin-bottom:20px;
   }