{# Template for home page of user #}
{% extends "base.html" %}
{% spaceless %}
{% block content%}
<ol>
    <li>What is S-I-P?
        <p>Say In Pixels is a photoblog developed by Joseph Jude using Django and hosted in Google App Engine</p>
    </li>
</ol>
{% endblock content%}
{% endspaceless %}