{% spaceless %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <title>{%if title%}{{title|escape}} - {%endif%} {{site_name}}</title>
  <!-- Link for feeds to be added -->
  <!-- META -->
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta http-equiv="content-type" name="keywords" content="Say In Pixels, PhotoBlog, Django, {{site_name}}, {{title|escape}}" />
  <meta http-equiv="content-type" name="description" content="{{site_name}}-PhotoBlog: {{title}}"
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="static/dark.css" title="dark" />        
</head>

<body>
{%block menu%}
<div id="navigation">
<a href="/">Home</a> | <a href="/browse">Browse</a> | <a href="/about">About</a>
{%if user %}
{%if is_admin%} | <a href="/_ah/admin">Admin</a>{%endif%}
{%if is_admin%} | <a href="/flickroption">FlickrOption</a>{%endif%}
{%if sign_out%} | <a href="{{sign_out}}">Sign out</a>{%endif%}
{% else %}
{%if sign_in%} | <a href="{{sign_in}}">Sign in</a>{%endif%}
{%endif%}
{%block extramenu%}{%endblock extramenu%}
</div>
{%endblock menu%}

{%block paginate %} {% endblock %}
{%block entry%} <!-- this is for photo-->  {%endblock entry%}
{%block content%} <!-- this is for non-index pages -->{%endblock content%}
{%block footer %}{% endblock %}
</body>
</html>
{%endspaceless%}