{%extends "base.html"%}
{%block body%}
<h2>Flickr Options</h2>

<form action="{%url views.flickrOption flickrOption.key.id%}" method="post">
<table>
{{form}}
<tr><td><input type="submit" value="Submit"></td></tr>
</table>
</form>

{%endblock%}
