{%extends "base.html"%}

<!-- prv and nxt links
    can be in paginator block too
-->
{% block extramenu %}
{% if has_previous %}
	<a href='/p/{{ previous_page }}'>Previous</a>
	{% if has_next %} | {% endif %}
{% endif %}

{% if has_next %} <a href='/p/{{ next_page }}/'>Next</a>  {% endif %}
</div>
{% endblock extramenu%}


{%block entry%}
<div id="photo">
<a href="{{photo_url}}" target="_blank" title = {{title}}>
  <img alt="photo" height="{{photo_height}}" width="{{photo_width}}" src="{{photo_source}}">
</a>
</div>
<!-- quick info about the photo -->
<div id="photo-quick-info">{{title}} | {{model}} | {{exposure}} | {{exposure_prg}} | {{aperture}} | {{iso}}</div>
<!-- photo description -->
<div id="photo-desc"> {{desc}} </div>
{%endblock entry%}

