{%extends "base.html"%}
{%block content%}
<h2>All Photos</h2>

<a href="{%url newPhoto%}">Create new photo</a> <br/>

List of Photos:
<ul>
{%for photo in photos%}
<li>
  <a href="{%url editPhoto photo.key.id%}">{{photo.title|escape}}</a>
  - created {{photo.pub_date|date:"Y/m/d H:i:s"}}
{%endfor%}
</ul>

{%endblock content%}
