{%extends "base.html"%}
{%block content%}
<h2>Create or Edit Photo</h2>

<form action="{%url views.editPhoto photo.key.id%}" method="post">
<table>
{{form}}
<tr><td><input type="submit" value="Submit"></td></tr>
</table>
</form>

{%endblock content%}
